section.approch
    .container
        .title.title--with-bottom-line
            h2.title.title__header  Out Approch
            .title__text Check Our approches by step (how we do it) 

        ul.approch__list
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-1.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 1: Heading Here
                    p.approch__description.
                        gsdfsdf s ffsdf df hghgh hero blicoco a aofoasffasf
                        dafa a fiufufjufef  fd fd sdf dsfsdf sssssssssss
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-2.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 2: Heading Here
                    p.approch__description.
                        gsdfsdf s ffsdf df hghgh hero blicoco a aofoasffasf
                        dafa a fiufufjufef  fd fd sdf dsfsdf sssssssssss
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-3.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 3: Heading Here
                    p.approch__description.
                        gsdfsdf s ffsdf df hghgh hero blicoco a aofoasffasf
                        dafa a fiufufjufef  fd fd sdf dsfsdf sssssssssss   
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-4.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 4: Heading Here
                    p.approch__description.
                        gsdfsdf s ffsdf df hghgh hero blicoco a aofoasffasf
                        dafa a fiufufjufef  fd fd sdf dsfsdf sssssssssss         