.contacts
                a.contact(href="tel:+380992605123")
                    i.fa.fa-mobile.contact__icon(aria-hidden="true")
                    span.contact__text +380992605123
                a.contact(href="mailto:valerystefanik@outlook.com")
                    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
                    span.contact__text valerystefanik@outlook.com
                a.facebook-logo
                    i.fa.fa-facebook(aria-hidden="true")