section.form-section
    .container
        .title
            h2.title.title__header  Get Your Free FaceBook Analysis Now
            .title__text Enter your details below 

        .btn-down: a.arrow: i.fa.fa-angle-down
        .form-container
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    sads addas fasf ddsdkgf kggf fggggggggggggggggfgfggfgffg       fgfgfgfgffgdsg sdokfso dfkdso kofk sdofko koks foahy my name 
                    afasf fa fa fffas 
                .form__fields
                    input(type="text" placeholder="Your Name").form__input
                    input(type="text" placeholder="Contact Number").form__input
                    input(type="text" placeholder="Contact Name").form__input
                button(type="submit").button.button--uppercase.button--red Submit Now